@font-face {
    font-family: section-headding;
    src: url('../fonts/Monthoers.otf');
}

body{
    margin-top:0;
    padding:0;
    background-image: url("../images/newhp.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-position: center;
    text-align: center;
    font-family: section-headding;
}

.contact-title 
{
    margin-top:90px;
    color: #000000;
    text-transform: uppercase; 
     transition: all 4s ease-in-out; 
}
.contact-title h1
{
     font-size: 32px;
    line-height: 10px; 
     font-family: cursive;
}
.contact-title h2 {
    font-size: 16px;
    line-height: 30px;
    font-family: cursive;
}
form
{
    margin:10px;
     transition: all 4s ease-in-out; 
    
}
input
{
    height: 45px;
}
form .submit{
    background: #ff5722;
    border-color: transparent;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    height:50px;
    margin-top: 20px;
    margin:auto;
    width:200px;
    
}
form .submit:hover
{
    background-color: green;
    cursor: pointer;
}





address{

    background-color: #000000;
  width: 100%; 
    height:370px;
  -webkit-box-shadow: 0 0 10px 1px #000000;
box-shadow: 0 0 10px 1px #000000;
    bottom: 0px;

 }
.location{
  text-align: left;
    padding-left: -10px;
    margin:auto;
    padding-top: 3px;

 }
 address .map {
text-align: right;
     padding-top: 2px;
     padding: 1px;
margin:auto;
 }

 
 @media only screen and (max-width : 450px) {
  address .location{
      margin-top: -1%;
    font-size: 12px;
  }
  footer .map{
    font-size: 20px;
    margin-top: -1%;
    letter-spacing: 15px;
  }

}

@media screen and (max-width: 770px) {
   address .location{
    text-align: center;   
  }
}
